{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    Sign Up
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'main/css/auth.css' %}">
{% endblock %}

{% block content %}
    <div class="grid-container">
        <div class="form-container">
            <h2>Sign Up</h2>
            <hr>
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-errors">{{ form.non_field_errors }}</div>
                {% for field in form %}
                    <div class="form-block">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                    </div>
                    <div class="form-errors">{{ field.errors }}</div>
                {% endfor %}
                <button type="submit" class="submit-btn ">Sign In</button>
            </form>
            <p>Already have an account? <a href="{% url 'login' %}">Log In here!</a></p>
        </div>
        <div class="auth-img"></div>
    </div>
{% endblock %}