@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --black: #222222;
    --dark: #292929;
    --light-dark: #333333;
    --light: #DDDDDD;
    --muted: #6C757D;
    --light-red: #FF6666;
    --light-green: #3CCE7B;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    background: var(--dark);
    color: var(--light);
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

header {
    width: 100%;
    height: 180px;
    position: relative;
    background-image: url('../imgs/banner_1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 2s ease-out;
}

.header-container {
    position: absolute;
    width: 100%;
    bottom: 0;
    background: rgba(51, 51, 51, .9);
    box-shadow: 0 0 5px 4px rgba(0, 0, 0, .4);
}

.header-container::before,
.header-container::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: var(--light-red);
}

.header-container::before {
    top: 0;
}

.header-container::after {
    bottom: 0;
}

.fixed-header {
    position: fixed;
    bottom: unset;
    animation: .5s linear slidein-header;
    z-index: 4;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 45px;
}

.logo {
    height: 76px;
}

.menu {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
}

.menu > hr {
    display: block;
    height: 3px;
    border: 0;
    background: var(--light-red);
    border-radius: 7px;
    margin: 1em 0;
    padding: 0;
}

.link {
    position: relative;
    padding: 30px 50px;
    transition: .3s;
    gap: 15px;
}

.link:hover {
    cursor: pointer;
    background: var(--light-red);
}

.link i {
    transform: translateY(1px);
}

.small {
    display: none;
}

.menu-btn {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
}

.menu-btn[id='close-menu'] {
    float: right;
}

.small-nav{
    display: none;
    position: fixed;
    height: 100vh;
    width: 66.6%;
    top: 0;
    right: 0;
    padding: 25px;
    background: var(--light-dark);
    z-index: 4;
    animation: .3s linear slidein-menu;
}

.small-nav-hidden {
    right: -100%;
    animation: .3s linear slideout-menu;
}

.small-nav > .menu {
    margin-top: 25px;
}

.block {
    display: block;
}

.link-p-small {
    padding: 15px 15px;
    border-radius: 7px;
}

.bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
    background: rgba(0, 0, 0, .4);
}

main {
    flex: 1 1 auto;
}

footer {
    position: relative;
    margin-top: 50px;
    padding: 30px 0 0;
    background: var(--light-dark);
}

footer::before {
    content: '';
    position: absolute;
    background: var(--light-dark);
    width: 100%;
    height: 50px;
    top: -25px;
    left: 0;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.footer-main {
    display: flex;
    justify-content: center;
    padding: 0 50px;
}

.social-media {
    display: flex;
    padding: 0;
    list-style: none;
    gap: 15px;
}

.social-link,
.social-link a {
    transition: .3s;
    color: var(--muted);
}

.social-link:hover {
    transform: scale(1.2);
}

.footer-section h3 {
    margin: 0;
}

.footer-links {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
}

.footer-menu {
    list-style: none;
    padding: 0;
}

.footer-link {
    margin-top: 7px;
}

.footer-link a {
    color: var(--light);
    text-decoration: none;
}

.footer-link:hover,
.footer-link a:hover {
    color: var(--muted);
}

.footer-right {
    height: 50px;
    text-align: center;
    line-height: 50px;
    background: var(--black);
}

@media screen and (max-width: 1350px) {
    .large {
        display: none;
    }
    .small {
        display: block;
    }
}

@media screen and (max-width: 1024px) {
    .header-content {
        padding: 0 15px;
    }
    .footer-main {
        flex-direction: column-reverse;
        padding: 0 25px;
    }
    .footer-links {
        justify-content: center;
        gap: 150px;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .footer-links {
        flex-direction: column;
        text-align: center;
        gap: 25px;
    }
}

@media screen and (max-width: 425px) {
    .header-content {
        padding: 0 5px;
    }
    .small-nav {
        width: 100%;
        padding: 15px 0;
    }
}

@keyframes slidein-header {
    from {
        top: -200px;
    } 
    to {
        top: 0;
    }
}

@keyframes slidein-menu {
    from {
        right: -100%;
    } 
    to {
        right: 0;
    }
}

@keyframes slideout-menu {
    from {
        right: 0;
    } 
    to {
        right: -100%;
    }
}